.benefits {
	margin-top: rem(64);

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(32) rem(128);

		@media (max-width: $breakpoint1366) {
			flex-direction: column-reverse;
		}
	}

	&__illustration-img-wrapper {
		max-width: rem(500);
	}

	&__pic {
	}

	&__content {
		padding-top: rem(80);

		@media (max-width: $breakpoint1366) {
			padding-top: 0;
		}

		@media (max-width: $breakpoint768) {
			width: 100%;	
		}
	}

	&__title {
		margin-bottom: rem(32);
		padding-left: rem(20);

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(22);
		}
	}

	&__list {
		margin-bottom: rem(48);
	}

	&__list-item {
		font-size: rem(20);
		line-height: 1.3;
		position: relative;
		padding-left: rem(40);
		margin-left: rem(20);

		&:not(:last-child) {
			margin-bottom: rem(28);
		}

		&::before {
			content: '';
			display: inline-flex;
			position: absolute;
			width: rem(20);
			height: rem(20);
			top: rem(3);
			left: 0;
			background: url(../img/icon_check-mark.svg);
			background-repeat: no-repeat;
			background-position: center;

			@media (max-width: $breakpoint768) {
				top: rem(2);
			}
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(18);
		}
	}

	&__button {
		display: block;
		margin: rem(16) auto;
		font-weight: 600;
	}
}