.logged-hero {
	overflow: hidden;
	z-index: 2;
	position: relative;

	&__body {
		padding-top: rem(110);
		margin: 0 auto;

		@media (max-width: $breakpoint1366) {
			padding-top: rem(32);
		}

		@media (max-width: $breakpoint768) {
			padding-top: rem(16);
		}

		@media (max-width: $breakpoint576) {
			padding: 0;
		}
	}

	&__form {
		max-width: rem(864);
		margin-right: auto;
		margin-left: auto;
		
		& > .form__input-wrapper {
			margin-right: auto;
			margin-left: auto;

			&--long-link {
				max-width: rem(864);
			}
		}

		& >	.form__optional-inputs {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-flow: column;	
			grid-gap: rem(14);
			margin-bottom: rem(18);

			@media (max-width: $breakpoint768) {
				grid-gap: rem(4) rem(8);
				margin-bottom: rem(4);
			}
			
			@media (max-width: 498px) {
				display: block;
			}
		}
	}

	&__qr-body {
		display: none;

		& > .qr-img-wrapper {
			margin-right: auto;
			margin-left: auto;
		}
	}
}