.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: $container-side-padding;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: rgba(25, 25, 25, 0.3);
	transition: all 0.2s ease;

	visibility: hidden;
	opacity: 0;
	z-index: -100;

	&.modal--open {
		visibility: visible;
		opacity: 1;
		z-index: 100;
		transition: all 0.3s ease;
	}

	&.modal--open .modal__body {
		animation: animation-down 0.3s;
	}

	&__body {
		position: relative;
		max-height: 100%;
		padding: rem(24) rem(24) rem(32);
		background-color: $secondary;
		box-shadow: 0 rem(4) rem(60) rgba(0,0,0,.25);
		border-radius: rem(20);
		transition: visibility 0.2s ease;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 101;
		animation: animation-up 0.3s;

	  @media (max-width: $breakpoint576) {
    padding: rem(32) rem(16);
  }

	}

	&__head {
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(24);
		background-color: $secondary;
	}

	&__title {
	}

	&__close-button {
		position: relative;
		display: inline-block;
		margin-left: auto;
		border: none;
		background-color: transparent;
		width: $burger-width;
		height: $burger-height;
		z-index: 102;
		cursor: pointer;
		
		&::before {
			content: '';
			position: absolute;
			height: $burger-line-height;
			background-color: $burger-color;
			width: 100%;
			top: 50%;
			left: 0;
			transform: rotate(45deg);
			z-index: 102;
			transition: background-color 0.2s ease;
		}

		&::after {
			content: '';
			position: absolute;
			height: $burger-line-height;
			background-color: $burger-color;
			width: 100%;
			top: 50%;
			left: 0;
			transform: rotate(-45deg);
			z-index: 102;
			transition: background-color 0.2s ease;
		}

		@media (hover: hover) { 
			&:hover::before,
			&:hover::after {
				background-color: darken($accent, 15%);
		  }
		}
	}

	&__content {
	}

	&__text {
	}
}

@keyframes animation-down {
	from {
		visibility: hidden;
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes animation-up {
	from {
		transform: translateY(0);
	}
	to {
		visibility: hidden;
		transform: translateY(-50%);
	}
}
