.off-limits-page {
	height: calc(100vh - rem(120));
	min-height: rem(504);
	position: relative;

	@media (max-width: $breakpoint768) {
    height: calc(100vh - rem(64));
  }

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__img-wrapper {
		margin: 0 auto rem(28);
		opacity: 0.5;
	}

	&__img {
	}

	&__title {
		font-size: rem(32);
		color: $accent;
		font-weight: 500;
		opacity: 0.5;
		text-align: center;

		@media (max-width: $breakpoint992) {
			font-size: rem(30);
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(20);
		}
	}
}

