<html>
<head>
<script>
var text = "{{short_link}}";
navigator.clipboard.writeText(text).then(function() {
  window.location.href = "{{long_link}}"; 
},
 function(err) {console.error('Ошибка авто-копирования : ', err);});
 
 function ButtonCopy() {
     var copyText = document.getElementById("myLink");
     copyText.select();
     copyText.setSelectionRange(0, 99999);
     navigator.clipboard.writeText(copyText.value);
     window.location.href = "{{long_link}}";
 }
</script>
<style>
.button {
    background-color: #3d96e5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<body>
<input type="text" value="{{short_link}}" id="myLink" size="25">
  <a class="button" onclick="ButtonCopy()"><h1>[СКОПИРОВАТЬ ССЫЛКУ]</h1></a>
  <br>
  <br>
<h2><b>Почему я вижу эту страницу?<b></h2>
<br>
<p><h4>Ваш браузер не поддерживает автоматическое копирование. <br>
Просто нажмите на кнопку, ссылка будет скопированна и вас вернет обратно на оригинальный сайт</h4></p>
</body>
</head>
</html>
