.hero {
	overflow: hidden;
	z-index: 2;
	position: relative;

	&__body {
		padding: rem(180) 0 0;

		@media (max-width: $breakpoint1366) {
			padding: rem(32) 0 0;
			text-align: center;
		}

		@media (max-width: $breakpoint768) {
			padding: rem(16) 0 0;
		}

		@media (max-width: $breakpoint576) {
			padding: 0;
		}
	}

	&__content {
		&.open {
			@media (min-width: $breakpoint1366) {
				transform: translateY(-9%);
				transition: transform 0.3s linear;
			}
		}
	}

	&__title {
		color: $accent;
		font-size: rem(36);
		margin-bottom: rem(30);

		@media (max-width: $breakpoint992) {
			font-size: rem(30);
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(22);
		}
	}

	&__form {
	}

	&__qr-title {
		color: $accent;
	  font-size: rem(24);
		margin-bottom: rem(14);

	  @media (max-width: $breakpoint768) {
			font-size: rem(20);
		}

		@media (max-width: $breakpoint576) {
			font-size: rem(18);
		}
	}

	&__illustration-wrapper {
		position: absolute;
  	overflow: hidden;
  	height: rem(600);
  	width: auto;
  	bottom: 0;
  	right: 0;
  	z-index: -1;

  	@media (max-width: $breakpoint1366) {
  		display: none;
  	}
	}

	&__illustration {
		@extend %img;
	}
	
}
