.nav {
  display: flex;
  align-items: center;
	
  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: rem(16);

    @media (max-width: $burger-breakpoint) {
      gap: rem(0);
    }
  }

  &__item {
    white-space: nowrap;
  }

  &__button {
    position: relative;
    z-index: 2;
  }

  &__link {
    color: $accent;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    transition: $hover;
    position: relative;
    z-index: 2;

    &:active {
      color: darken($accent, 15%);
    }

    @media (hover: hover) { 
      &:hover {

      }
    }
  }
}
