.form {

	&__input-wrapper {
		position: relative;
		margin-bottom: rem(28);

		&--long-link {
			max-width: rem(864);

			@media (max-width: $breakpoint1440) {
				max-width: rem(784);
			}
		}

		&--short-link {
			max-width: rem(470);
			visibility: hidden;
			opacity: 0;
			transition: all 0.1s linear;

			&.open {
 				display: block;
  			visibility: visible;
  			opacity: 1;
  			animation: slideDown 0.3s;
			}

			@media (max-width: $breakpoint1366) {
				display: none;
			}
		}

		@media (max-width: $breakpoint1366) {
			margin-right: auto;
			margin-left: auto;
		}

		@media (max-width: $breakpoint768) {
			font-size: rem(26);
			margin-bottom: rem(14);
		}
	}
	
	&__checkbox-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}
	
	&__label {

		&--long-link {
		}

		&--short-link {
		}

		&--link-name {
			grid-area: 1 / 1 / 2 / 5;
		}

		&--link-limit {
			grid-area: 2 / 1 / 3 / 4;
			
			@media (max-width: $breakpoint992) {
				grid-area: 2 / 1 / 3 / 3;
			}
		}
		
		&--link-password {
			grid-area: 3 / 1 / 4 / 4;

			@media (max-width: $breakpoint992) {
				grid-area: 3 / 1 / 4 / 3;
			}
		}

		&--link-start {
			grid-area: 2 / 4 / 3 / 5;

			@media (max-width: $breakpoint992) {
				grid-area: 2 / 3 / 3 / 5;
			}
		}

		&--link-end {
			grid-area: 3 / 4 / 4 / 5;

			@media (max-width: $breakpoint992) {
				grid-area: 3 / 3 / 4 / 5;
			}
		}

		&--email {
		}

		&--password {
		}

		&--repeat-password {
		}

		&--checkbox {
			position: relative;
			display: inline-block;
			font-size: rem(16);
			margin-top: rem(8);
  		padding-left: rem(40);
  		user-select: none;
			
			&::before {
  			content: '';
  			position: absolute;
  			width: rem(16);
  			height: rem(16);
  			margin-left: rem(20);
  			border-radius: rem(4);
  			border: 1px solid $accent;
  			top: 0;
  			left: 0;	
			}
			
			&::after {
			  content: '';
			  position: absolute;
			  height: rem(8);
			  width: rem(4);
			  margin-left: rem(20);
			  background-color: $secondary;
			  top: rem(9);
			  left: rem(4);
			  transform-origin: left top;
		    border-right: 2px solid $primary;
		    border-top: 2px solid $primary;
    		transform: scaleX(-1) rotate(135deg);	
			  opacity: 0;
			}
		}
	}

	&__input {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: rem(18);
		padding: rem(15) rem(20);
		width: 100%;
		border: 1px solid $accent;
		border-radius: rem(30);
		transition: $hover;

		&:focus {
			box-shadow: 1px 1px 5px $accent;
		}

		&--long-link {
			padding: rem(15) rem(60) rem(15) rem(20);

			&:focus {
				box-shadow: rem(3) rem(3) rem(20) $accent;
			}
		}

		&--short-link {
			padding: rem(15) rem(60) rem(15) rem(20);
		}

		&--link-name {
		}

		&--link-limit {
		}

		&--link-password {
		}
		
		&--link-start {
		}

		&--link-end {
		}

		&--email {
		}

		&--password {
		}

		&--repeat-password {
		}

		&--checkbox {
			position: absolute;
			top: 0;
			left: 0;
			visibility: visible;
			opacity: 0;
			z-index: -28;

			&:checked ~ .form__label--checkbox::after {
  			opacity: 1;
  			background-color: $accent;
  			border-right: 2px solid $secondary;
		    border-top: 2px solid $secondary;
  		}

  		&:checked ~ .form__label--checkbox::before {
  			border: 1px solid $accent;
  			background-color: $accent;
  		}
		}
	}

	&__terms-link {
		text-decoration: underline;
		transition: $hover;

		@media (hover: hover) { 
			&:hover {
				text-decoration: underline;
				color: $accent;
		  }
		}
	}

	&__button--submit {
		display: block;
		margin-top: rem(16) !important;
		margin: 0 auto;
	}
}

.shortener-button {
	position: absolute;
	top: rem(6);
	right: rem(10);
	width: rem(40);
	height: rem(40);
	background-color: $accent;
	border: 1px solid $accent;
	border-radius: rem(30);
	cursor: pointer;
	transition: $hover;
	transition: all 0.1s linear;

	&--submit {
		padding: rem(10);
	}

	&--copy {
		padding: rem(10);
	}

	@media (hover: hover) { 
		&:hover {
			opacity: 0.9;
	  }
	}

	&:active {
		background-color: darken($accent, 15%);
	}

	& svg {
		width: rem(20);
		height: rem(20);
		fill: $secondary;
		transition: opacity 0.1s linear;
	}

	&.loader {
		background-color: transparent;
		border: none;
	}

	&.checkmark {
		border: 1px solid $success;
  	background-color: $success;
	}
}